<appSettings>
  <!-- DO NOT COMMIT THIS FILE-->
 
  <!-- Header keys-->
  <add key="title" value="Employee Inquiry System"/>
  <add key="loginTitle" value="Employee Inquiry"/>
  <add key="tagline" value="Employee Inquiry"/>
  <add key="appUrl" value="https://www.wrdsb.ca/"/>
  <add key="googleAnalytics" value="UA-76883029-1"/>
 
  <!-- Footer keys-->
  <add key="isInternal" value="true"/>
  <add key="serviceDesk" value="https://wrdsb.topdesk.net/tas/public/login/saml"/>
  <add key="developer" value="ITS Software Development: Web Team."/>
  <add key="phone" value="(519) 570-0003" />
  
  <!-- Logging -->
  <add key="Log" value="true"/> <!--Set to "true" to enable logging or "false" to disable logging--> 

	<!-- Azure AD keys Test Site-->
  <add key="ida:ClientId" value="c233e0b0-0325-405f-9d86-59824e842ef6" />
  <add key="ida:Tenant" value="cd25c694-bfb8-48f4-9d0d-b9af282c4ab4" />
  <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
  <add key="ida:PostLogoutRedirectUri" value="https://test-empinq.wrdsb.ca" />
  <add key="owin:AppStartup" value="TPA.Startup"/>
  
</appSettings>
