<?xml version="1.0"?>
<connectionStrings>
  <!-- Test Database Connections  -->
  <add name="SQLDB" connectionString="Server=EC-HR-DBT;database=wrdsb_50_test;User ID=TPA;Password=Summer4last;Connect Timeout=18000;" providerName="System.Data.SqlClient"/>
  <add name="SQLDB_HDHRP" connectionString="Server=EC-HR-DBT;database=HDHRP;User ID=TPA;Password=Summer4last;Connect Timeout=18000;" providerName="System.Data.SqlClient"/>

  <!-- Production Database Connections  -->

  <!--<add name="SQLDB" connectionString="Server=EC-HRP-DB;database=WRDSB;User ID=TPA;Password=auroralights;Connect Timeout=18000;" providerName="System.Data.SqlClient"/>
  <add name="SQLDB_HDHRP" connectionString="Server=EC-HRP-DB;database=HDHRP;User ID=TPA;Password=auroralights;Connect Timeout=18000;" providerName="System.Data.SqlClient"/>-->

</connectionStrings>

